@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar needed for 'no-scrollbar' utility if not using plugin */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
